h1 {
    color: green;
    text-align: center;
    justify-content: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    justify-content: center;
}

p a {
    color: mediumseagreen;
    text-decoration: underline;
}

.description {
    margin: 2%;
}

.links {
    margin: 2%;
}
.volunteers {
    margin-right: 1%;
    margin-left: 1%;
}

.partners {
    margin-right: 1%;
    margin-left: 1%;
}

.bg-light h2 {
    color: green;
}

.content a {
    color: mediumseagreen;
    text-decoration: underline;
}

.features {
    padding: 1em;
    text-align: start;
}

.content {
    padding: 1em;
    width: auto;
    height: auto;
    border-radius: 21px 21px 0 0;
}

.outside {
    width: auto;
}

.images {
    padding: 1em;
    justify-content: center;
}

.images img {
    padding: 1em;
}

.bg-dark {
    background-color: green !important;
}
